/* Navigation bar */

.navbar {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-item a {
    color: black;

  }

.nav-item a:hover {
    color: #b01307;

  }

/* Hero section */

.heroBanner {
    background-image: url(../images/milad-fakurian-1PLbmk2Xp2U-unsplash.jpg);
    min-height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:end;
    align-items: end;
    margin-bottom: 20px;
    padding: 20px;

      
}

.heroText {
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.heroText p {
  padding-bottom: 10px;
}

/* Work section */

.card a {
  text-decoration: none;
  color: black;
}

.card-body :hover {
  color: red;
}

h2 {
  text-align: end;
  margin: 0px 20px 20px 0px;
}

/* About section  */

.contact-details {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
}

.contact-details div {
  padding-right: 20px;
}

/* Footer */

.footerLinks {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 5px;
  
}

.footerLinks a {
  color: white;
}